{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="login-auth">
    <div class="auth">
        <h2>Connexion</h2>
        <form method="post" action="{% url "login" %}">
            {% csrf_token %}
            <div class="mail">
                <label for="mail">Nom Utilisateur</label>
                <input type="text" id="mail" name="username">
            </div>
            <div class="pass">
                <label for="passe">Mot de passe</label>
                <input type="password" id="passe" name="password">
            </div>
            <div class="but">
                <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
